<ul class="list-group">
	<li class="list-group-item">
		<a asp-controller="Products" asp-action="Index" asp-route-category="DT">Điện thoại</a>
	</li>
	<li class="list-group-item">
		<a asp-controller="Products" asp-action="Index" asp-route-category="MTB">Máy tính bảng</a>
	</li>
	<li class="list-group-item">
		<a asp-controller="Products" asp-action="Index" asp-route-category="LT">Laptop</a>
	</li>
</ul>