@model Lab03.Models.StudentInfo

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>StudentInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Manage">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mark" class="control-label"></label>
                <input asp-for="Mark" class="form-control" />
                <span asp-validation-for="Mark" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Lưu file Text" class="btn btn-primary" name="savebutton" />
                <a asp-action="ShowInfo" class="btn btn-secondary" asp-route-type="text">Mở file Text</a>

                <input type="submit" value="Lưu file JSON" class="btn btn-primary" name="savebutton" />
                <a asp-action="ShowInfo" class="btn btn-secondary" asp-route-type="json">Mở file JSON</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

